.cards {
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f3f3f3;
}

.card {
    padding: 1em;
}

.popup {
    width: 500px;
    height: 300px;
    background-color: blue;
    display: flex;
    align-items: center;
}